.StaffTableContainer {
  border-radius: 2px;
  color: #222222;
  margin-bottom: 20px;
}
.IconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  svg {
    margin: 0px 5px;
  }
}
