.BaseButton {
  height: 50px;
  padding: 0px 30px;
  box-shadow: 0 2px 4px 0 rgba(125, 125, 125, 0.2);
  border: solid 1px #ededed;
  font-size: 12px;
  font-weight: 800;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #7d7d7d;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
}

.DangerButton {
  @extend .BaseButton;
  color: #c02026;
}

.PrimaryButton {
  @extend .BaseButton;
  color: #7d7d7d;
  background-color: #c0b59d;
  color: #fff;
  border: solid 1px rgba(188, 172, 150, 0.4);
}

.SuccessButton {
  @extend .BaseButton;
  color: #fff;
  border: solid 1px rgba(188, 172, 150, 0.4);
  background-color: #2cb070;
}
