.AddButton {
  height: 50px;
  background-color: #c0b69b;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(125, 125, 125, 0.2);
  cursor: pointer;
}
.AddIcon {
  height: 17px;
  width: 17px;
}